/* 1.2 - Template Global Base - Start
================================================== */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $color_secondary $color_light;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: $color_light;
	border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
	background-color: $color_secondary;
	border-radius: 50px;
	border: 13px solid $color_light;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.65;
	font-style: normal;
	color: $color_dark;
	font-family: $font_family;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	counter-reset: my-sec-counter
}

.page_wrapper {
	overflow: hidden;
	position: relative;
}

iframe {
	border: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}

embed,
object,
video {
	height: auto;
	max-width: 100%;
}
img {
	border: none;
	height: auto;
	max-width: 100%;
	user-select: none;
	vertical-align: middle;
	transition: $transition_slow;
}
.image_wrap {
	overflow: hidden;
	border-radius: $radius_primary;
	img {
		border-radius: $radius_primary;
	}
}

ul {
	margin: 0;
	padding: 0;
}

a {
	outline: 0;
	display: inline-block;
	text-decoration: none;
	transition: $transition_fast;
	&:active,
	&:focus,
	&:hover,
	&:visited {
		outline: 0;
		text-decoration: none;
	}
}

.fix {
	overflow: hidden;
}

button {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	display: inline-block;
	transition: $transition_fast;
	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	color: $color_primary;
	font-family: $font_family;
	line-height: 1.2;
}
h1, h2{
	@include max-md{
		font-size: calc(1.725rem + .9vw) !important
	}
}


p{
	color: $color_dark;
	font-family: $font_family;
	font-size: $base_font;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
}
hr {
	opacity: 0.1;
	margin: 30px 0;
	background-color: $color_dark;
}

textarea{
	resize: none;
}

label.form-label{
	color: $color_dark;
	font-family: $font-family;
	font-size: $base-font;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.form-control{
	padding: 0;
	border: none;
	border-bottom: 1px solid rgba(147, 147, 147, 0.70);            ;
	border-radius: 0;
	padding-bottom: 7px;
	transition: $transition_slow;
	&:focus{
		box-shadow: none;
	}
	&:visited,
	&:active,
	&:focus,
	&:focus-visible,
	&:focus-within,
	&:target{
		border-bottom: 1px solid $color_primary!important;            ;
	}
}
.form-check-input{
	&:focus{
		border-color: $color_secondary;
		outline: 0;
		box-shadow: none
	}
	&:checked {
		background-color: $color_secondary;
		border-color:  $color_secondary;
		
	}
}
.fa {
	font-family: 'Font Awesome 5 Brands';
}
.decoration_wrap {
    z-index: 1;
    position: relative;
	.deco_item {
		z-index: -1;
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 30px 30px;
	}
}

.section{
	position: relative;
	padding: 60px 0;
}
// Section Heading

.section_heading{
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	.heading_subtitle{
		margin-bottom: 0;
		span{
			color: $color_dark;
			font-family: $font_family;
			font-size: $base_font;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; 
			text-transform: capitalize;
		}
	}
	.heading_title{
		color: $color_primary;
		font-family: $font_family;
		font-size: 42px;
		font-style: normal;
		font-weight: 600;
		line-height: 50px; 
		@include max-md{
			font-size: calc(1.725rem + .9vw) 
		}
	}
}

@media (min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:1280px
    }
}

@media (min-width: 1400px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
        max-width:1380px
    }
}
/* 1.2 - Template Global Base - End
================================================== */

/* Button Style - Start
================================================== */

// Button Default Style - Start


.bd-btn-link {
	position: relative;
	font-size: $base_font;
	font-weight: 600;
	background-color: $color_secondary;
	height: 46px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 35px;
	color: $color_light;
	border-radius: 21px 32.5px 0px 21px;
	z-index: 55;
	color: $color_light;
	font-family: $font_family;
	font-style: normal;
	line-height: 26px; 
	text-transform: capitalize;
	&:hover {
		color: $color_light;
		background-color: $color_primary;
		.bd-button-icon {
			i {
				color: $color_light;
				transform: rotate(0deg);
			}
		}
	}
	&.is-border {
		background-color: transparent;
		border: 1px solid $color_light;
	}
	&:hover {
		.bd-btn-anim-wrapp {
			transform: translateY(-150%);
			.bd-button-text {
				&:nth-child(2) {
					transform: translate(-50%,100%);
					opacity: 1;
				}
			}
		}
		.bd-button-text {
			&:nth-child(1) {
				opacity: 0;
			}
		}
	}
	&::before{
		content: '';
		position: absolute;
		background-color: $color_secondary;
		height: 12px;
		width: 26px;
		bottom: 0;
		right: -20px;
		border-radius: 0% 100% 100% 0% / 0% 100% 0% 0%;;
		transition: $transition_fast;
	}
	&:hover::before{
		background-color: $color_primary;
	}
}
.bd-btn-anim-wrapp {
	display: inline-block;
	order: 10;
	.bd-button-text {
		&:nth-child(2) {
			display: inline-block;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,80%);
			opacity: 0;
		}
	}
}
.bd-btn-link .bd-btn-anim-wrapp,
.bd-btn-link .bd-btn-anim-wrapp .bd-button-text {
	transition: opacity .6s,transform .8s;
	transition-timing-function: cubic-bezier(.15,.85,.31,1);
}
.bd-button-content-wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	transform: translateY(-1px);
}

.btns_group{
	display: inline-flex;
	align-items: center;
	.curve{
		transition: $transition_fast;
		transform: translate(-5px, 0px);
	}
	&:hover .curve{
		transform: translate(-10px, 0px);
		svg{
			path{
				fill: $color_primary
			}
		}
	}
}

// Button Default Style - End

// Button Default Style - New
.btn_group{
	display: inline-flex;
    align-items: center;
	.button_wrapper{
		.main-btn {
			position: relative;
			text-align: center;
			display: inline-flex;
			align-items: center;
			font-size: $base_font;
			font-weight: 600;
			background-color: $color_secondary;
			height: 46px;
			padding: 0 35px;
			color: $color_light;
			border-radius: 21px 32.5px 0px 21px;
			z-index: 55;
			color: $color_light;
			font-family: $font_family;
			font-style: normal;
			line-height: 26px; 
			transition: $transition_fast;
			text-transform: capitalize;
			&:hover {
				color: $color_light;
			}
			.dot{
				height: 20px;
				z-index: -1;
				width: 80px;
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: -20px;
				border-radius: 0% 100% 100% 0% / 0% 100% 0% 0%;
				background-color: var(--color-secondary);
				transition: $transition_fast;
			}
		}
		.curve{
			transition: $transition_fast;
			transform: translate(0px, 0px);
			position: absolute;
			right: -35px;
		}
		
		&:hover {
			.main-btn{
				background-color: var(--color-primary);
				.dot{
					background-color: var(--color-primary);
				}
			}
			.curve{
				transform: translate(-5px, 0px);
				svg{
					path{
						fill: var(--color-primary);
					}
				}
			}
			
		}
	}
}

/* Button Style - End
================================================== */

.fw-600{
	font-weight: 600;
}